{% extends "base.html" %}

{% block title %}{{ room.name }}{% endblock %}

{% block content %}
<div>
    <h2>{{ room.name }}</h2>
    <p>{{ room.id }}</p>
    <p>Описание: {{ room.description }}</p>
    <p>Цена: {{ room.price }}</p>
    <p>Категория: {{ room.category_id.name }}</p>
    <h3>Удобства:</h3>
    {% for amenity in room.amenities.all %}
    <div>
        {{ amenity.name }}
    </div>
    {% endfor %}
    {% if room.image %}
        <img src="{{ room.image.url }}">
    {% endif %}
</div>
<a href="{% url 'room_list' %}">Назад к списку комнат</a>
{% endblock %}
